<header class="header">
  <h1>Murcia concertada</h1>
  
   <div class="link-wrapper">
    <div >
      <a 
      routerLink="" 
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact:true}" >Evolución</a>
    </div>
    <div>
      <a routerLink="list" routerLinkActive="active">Listado</a>
    </div>
 
    </div>
</header> 
<!--Header y pestañas navegación-->
<router-outlet></router-outlet>

<footer>
  <div class="footer-label">
    <span>Made with</span> <i class="fa fa-mug-hot"></i> <span>by Jesús Mármol</span>
  </div>
<p>Datos obtenidos del portal de transparencia: <a href="https://datos.gob.es/es/catalogo" class="normal-link" target="_blank">Datos.Gob</a></p>
</footer>
